<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a
      class="navbar-brand d-flex align-content-baseline flex-wrap"
      routerLink="/dashboard"
    >
      <img
        src="../../../assets/img/cerveza.png"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
      <span class="d-flex align-items-center">
        Cervezapedia ¡Busca tu cerveza favorita!
      </span>
    </a>
  </div>
</nav>
